body{
                background-color: rgb(194, 209, 57);
            }
			#tabs{
			text-align:center;
			}
			#img{
                
                height: 300px;
                width: 400px;
            }
            ol,ul{
                padding-top: 10px;
            }
