.bg{
background-color: rgb(241, 227, 227);
text-align: right;
border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bg2{
  background-color: rgb(241, 227, 227);
  text-align: right;
  font-style: oblique;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bg3{
    background-color: rgb(241, 227, 227);
    text-align: right;
    font-style: oblique;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
.f{
    font-family: sans-serif;
}
.b{
   font-weight: bold;
}
.space{
   margin-top: 15px;
}