table {
    width: 70%;
}

table {
    border: 1px inset gray;
}

th,
td {
    padding: 3px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(199, 196, 196);
}

td {
    text-align: center;
}

.time__am {
    background-color:rgb(253, 248, 201);
}

.time__pm {
    background-color: rgb(174, 250, 190);
}

.time__pmB {
    background-color: rgb(177, 177, 250);
}

.day {
    text-align: left;
}