* {
    margin: 2px;
}

body {
    padding: 20px;
    background-color: aquamarine;
}

.sectionOne > p {
    float: right;
}

.sectionOne > p > img {
    float: left;
    padding-right: 50px;
}

.sectionTwo > p {
    float: left;
}

.sectionTwo > p > img {
    float: right;
    padding-left: 50px;
}


.sectionThree > p {
    float: right;
}

.sectionThree > p > img {
    float: left;
    padding-right: 50px;
}