.background {
  background-color: #efe2ba;
  border-radius: 10px;
  margin-bottom: 50px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.savebtn {
  background-color: #e98074;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 33px;
  margin-bottom: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.row input {
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
}

input::placeholder {
  font-size: 15px;
  padding-left: 10px;
}

.btn {
  background-color: #fff;
  margin: 30px 70px;
  height: 92px;
  width: 92px;
}

.info {
  margin: 50px;
}

.shopping {
  width: 187px;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
  color: #fff;
  font-weight: bolder;
  position: absolute;
  left: 40%;
  right: 33.21%;
  top: 47.31%;
  bottom: 42.93%;
  background: #e98074;
  box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
  border-radius: 5px;
}