
.city{
    border:1px solid black;
    width: 700px;
    height: 500px;   
    background-color: rgb(243, 238, 166);
    padding: 5px;
}
.h1box{
    border: 1px solid black;
    width: 700px;
    padding: 5px;
}
.h2{
    float: right;
}
.h2box{
    border-bottom: darkorange;
    background-color: orange;
    width: 670px;
    height: 150px;
}
.h3box{
    border-bottom: darkorange;
    background-color: orange;
    width: 640px;
    height: 150px;
}
.li{
    list-style: disc;
}