.h1{
    text-align: right;
    width: 100%;
    height: max-content;
    background-color: rgb(155, 155, 214);    
}
.h2{
    text-align: right;
    width: 100%;
    height: max-content;
    background-color: rgb(155, 155, 214);
}