body {
    background-image:  linear-gradient(90deg, rgba(106,181,238,1) 0%, rgba(117,139,249,1) 49%, rgba(104,230,245,1) 82%);
}
body > h1 {
    text-align: center;
}

.imp__text {
    color: rebeccapurple;
}

.search__engineName {
    background-color: rgb(62, 248, 161);
}

marquee > strong {
    color: rgb(252, 17, 0);
}