body {
    background-color: rgb(195, 218, 202);
}

h1, h2 {
    text-align: center;
}

.c1 {
    text-align: center;
}

p {
    text-align: justify;
}

.head {
    text-align: center;
}

.c2 {
    text-align: center;
}
