body {
  background-color: cadetblue;
}

img {
  float: left;
  width: 200px;
  height: 200px;
  padding: 5px;
}

h1 {
  text-align: center;
}

#nav {
  text-align: center;
}

ul,
li {
  display: inline;
  padding: 2px;
}
