body {
  background-color: cadetblue;
}

h1 {
  text-align: center;
}

#nav {
  text-align: center;
}

#nav li {
  display: inline;
  padding: 2px;
}

#ulist ul {
  list-style-type: circle;
}

#olist ol {
  list-style-type: lower-roman;
}
