.anchor_btn{
    text-decoration: none;
    background-color: darkgreen;
    color:white ;
    border: none;
    padding: 5px;
    font-family: sans-serif;
}
.anchor_btn:hover{
    background-color:yellowgreen;
    border: 1.5px;
    border-color: gray;
}
.login_block{
    text-align: center;
    background-color:whitesmoke;
    border-color:turquoise;
    border-width: 5px;
    width: 400px;
    /* height: 200px; */
    margin-left: 450px;
    padding-top: 20px;
}
