table,th,td,tr{
    border: 1.5px solid rgb(80, 75, 75);
    height: 4px;
    width: 20%;
}

td{
    padding: 6px;
}

.color_one{
    background-color: rgb(228, 179, 120);    
}

.color_two{
    background-color:cornflowerblue;
}
.color_three{
    background-color: chocolate;
}
