h1 {
    text-align: center;
}

table {
    width: 70%;
}

table, 
th, 
td {
    padding: 15px;
}

table, 
th {
    border: 5px solid rgb(73, 71, 71);
    border-collapse: collapse;
} 
td {
    border-top: 2px solid rgb(73, 71, 71);
    border-bottom: 2px solid rgb(73, 71, 71);
    border-left: 5px solid rgb(73, 71, 71);
    border-right: 5px solid rgb(73, 71, 71);
}

caption {
    color: rgb(76, 67, 83);
    font-size: x-large;
    font-weight: 650;
}

.time {
    font-weight: 750;
}

.office {
    background-color: rgb(209, 105, 57);
}

.mat {
    background-color:rgb(19, 87, 19);
}

.csc {
    background-color:rgb(224, 114, 133);
}

.meet {
    background-color: rgb(95, 89, 89);
}
