body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: lightblue;
  margin-block-start: auto;
  margin-inline-start: auto;
}

ul {
  list-style-type: none;
  margin: 90px;
  padding: 20px;
}

li {
  display: inline-block;
  margin-right: 90px;
}

h1 {
  text-align: center;
  display: inline-block;
  margin-bottom: -1.5cm;
  margin-block-start: auto;
  margin-inline-start: auto;
}

p {
  text-align: center;
  display: inline-block;
  margin-bottom: -1.5cm;
  margin-block-start: auto;
  margin-inline-start: auto;
}
