div {
  background-color: red;
}
label {
  font-family: Arial, Helvetica, sans-serif;
}
#bold {
  font-weight: bold;
}
h1 {
  margin-left: 699px;
  margin-bottom: 70px;
}
h2 {
  margin-left: 1030px;
}
