h1{
    margin-left: 500px;
    font-size: 26px;
}
table,th,td{
    border-collapse: collapse;
    border: green solid 1px;
    padding: 5px 10px;
    width: 800px;
    margin-left: 20px;
}
th{
    width: 400px;
    color:blue;
}
p{
    margin-left: 400px;
    margin-bottom: -2px;
    font-size: 14px;
}