.bg {
  background: tomato;
  margin-right: 0.6rem;
  margin-left: -4px;
  border: 0.15rem solid black;
}
.bbg {
  background: rgb(255, 157, 140);
  border: 2px solid black;
}
h2 {
  margin-bottom: 0;
}
li {
  list-style-type: none;
}
span {
  color: gold;
  border: 5px solid black;
}
h4 {
  text-align: end;
  margin-right: 0.3rem;
  margin-bottom: 0;
  font-size: xx-large;
  font-weight: 400;
}
.italic {
  font-style: italic;
}
h4:last-of-type {
  margin-top: 8rem;
}
a {
  text-decoration: none;
  line-height: 2rem;
}
