form {
  margin: 25px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 15px;
}

input, select {
  padding: 5px;
  outline-color: cornflowerblue;
}

button {
  padding: 5px;
  border: none;
  background-color: rgb(132, 0, 255);
  color: white;
  border-radius: 5px;
}

button:disabled {
  background-color: rgb(182, 110, 248);
}
