h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    background-color: sandybrown;
}
.container{
    background-color: sienna;
    width: 98%;
    margin-top: 10px;
    box-shadow: 1px 2px #000;
    padding: 10px;
}
.heading{
    text-align: right;
    font-style: italic;
    margin-right: 10px;
    font-size: 30px;
    margin-top: 0%;
}
.margin{
    margin-top: 10%;
}
a{
    text-decoration: none;
    font-size: x-large;
    color: greenyellow;
}
ul{
    list-style-type: square;
}
