body {
  width: 100%;
  height: 1020px;
  left: 0px;
  top: 2px;
  backdrop-filter: blur(4px);
}
img {
  position: absolute;
  width: 202.02px;
  height: 229.93px;
  left: 3.8px;
  top: -17.08px;

  background: url(logo.png);
  transform: rotate(1.19deg);
}
h1 {
  position: absolute;
  width: 326px;
  height: 42px;
  left: 750px;
  top: 22px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.login {
  position: absolute;
  width: 165px;
  height: 42px;
  left: 1060px;
  top: 22px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #1cefe2;
}
.rectangle {
  position: absolute;
  width: 1241px;
  height: 85px;
  left: -1px;
  top: 210px;
  background: #c4c4c4;
}
h2 {
  position: absolute;
  width: 342px;
  height: 42px;
  left: 513px;
  top: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.free {
  position: absolute;
  width: 772px;
  height: 42px;
  left: 323px;
  top: 310px;

  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#fresher {
  position: absolute;
  width: 153px;
  height: 195px;
  left: 323px;
  top: 457px;

  background: url(fresher.png);
}
#rec2 {
  position: absolute;
  width: 268px;
  height: 68px;
  left: 265px;
  top: 689px;

  background: rgba(164, 158, 24, 0.72);
}
#fr {
  position: absolute;
  width: 226px;
  height: 42px;
  left: 289px;
  top: 650px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#exp {
  position: absolute;
  width: 216px;
  height: 184px;
  left: 797px;
  top: 468px;

  background: url(exp.png);
}
#rec3 {
  position: absolute;
  width: 342px;
  height: 68px;
  left: 734px;
  top: 689px;

  background: rgba(164, 158, 24, 0.72);
}
#pro {
  position: absolute;
  width: 312px;
  height: 42px;
  left: 749px;
  top: 650px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#momo {
  position: absolute;
  width: 465px;
  height: 84px;
  left: 176px;
  top: 759px;

  font-family: Roboto;
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#momo1 {
  position: absolute;
  width: 469px;
  height: 84px;
  left: 709px;
  top: 759px;

  font-family: Roboto;
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
