body {
  position: relative;
  width: 1440px;
  height: 1020px;

  background: #ffffff;
}

img {
  position: absolute;
  width: 202.02px;
  height: 229.93px;
  left: 4.78px;
  top: -17px;

  background: url(logo.png);
  transform: rotate(1.19deg);
}
h1 {
  position: absolute;
  width: 119px;
  height: 56px;
  left: 450px;
  top: 326px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}
#ola {
  position: absolute;
  width: 331px;
  height: 56px;
  left: 450px;
  top: 424px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;

  color: #000000;
}
#email {
  position: absolute;
  width: 370px;
  height: 68px;
  left: 450px;
  top: 550px;

  background: #c4c4c4;
}
#pa {
  position: absolute;
  width: 157px;
  height: 42px;
  left: 467px;
  top: 700px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#pass {
  position: absolute;
  width: 370px;
  height: 68px;
  left: 450px;
  top: 750px;

  background: #c4c4c4;
}
button {
  position: absolute;
  width: 214px;
  height: 83px;
  left: 531px;
  top: 900px;

  background: #c4c4c4;
}
#dont {
  position: absolute;
  width: 365px;
  height: 42px;
  left: 801px;
  top: 77px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
