body {
  position: relative;
  width: 1257px;
  height: 1079px;

  background: #ffffff;
}
img {
  position: absolute;
  width: 202.02px;
  height: 229.93px;
  left: 4.78px;
  top: -17px;

  background: url(logo.png);
  transform: rotate(1.19deg);
}
#rec {
  position: absolute;
  width: 1254px;
  height: 94px;
  left: 3px;
  top: 227px;

  background: #c4c4c4;
}
h1 {
  position: absolute;
  width: 262px;
  height: 42px;
  left: 475px;
  top: 253px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #8785dc;
}
#t1 {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 261px;
  top: 330px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#text {
  position: absolute;
  width: 388px;
  height: 63px;
  left: 431px;
  top: 351px;

  background: #faf6f6;
}
#t2 {
  position: absolute;
  width: 138px;
  height: 42px;
  left: 230px;
  top: 476px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#email {
  position: absolute;
  width: 395px;
  height: 58px;
  left: 431px;
  top: 468px;

  background: #faf6f6;
}
#t3 {
  position: absolute;
  width: 277px;
  height: 42px;
  left: 103px;
  top: 580px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#password {
  position: absolute;
  width: 395px;
  height: 58px;
  left: 428px;
  top: 572px;

  background: #faf6f6;
}
#t4 {
  position: absolute;
  width: 245px;
  height: 42px;
  left: 135px;
  top: 684px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#mobile {
  position: absolute;
  width: 395px;
  height: 57px;
  left: 428px;
  top: 684px;

  background: #faf6f6;
}
#t5 {
  position: absolute;
  width: 194px;
  height: 42px;
  left: 186px;
  top: 788px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
#city {
  position: absolute;
  width: 395px;
  height: 57px;
  left: 428px;
  top: 784px;

  background: #faf6f6;
}
#button {
  position: absolute;
  width: 355px;
  height: 85px;
  left: 356px;
  top: 922px;

  background: #c4c4c4;
}
