*{
    margin: 0;
    padding: 0;
    font-family:"Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-selection{
    background: url(img/1.jpg) no-repeat left;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow : hidden;
    padding : 50px 0;
}

.inner-container{
    width: 70%;
    float : right;
    background-color: #fdfdfd;
    opacity: 85%;;
    padding: 50px;
}

.inner-container h1,h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.links{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

li{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-selection{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .about-selection{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
