table{
    border: silver solid 7px;
    border-bottom:0;
}
th{
    border-bottom: silver solid 1px;
}
table,th,td{
    border-collapse: collapse;
    padding: 10px;
    margin-left: 20px;

}

th{
    width: 40px;
    border-right: silver solid 7px;
}
.off{
    background-color: #ec9474;
}
.MAT{
    background-color: #23d723;
}
.csc{
    background-color: pink;
}