table {
    width: 70%;
}

table {
    border: 1px inset gray;
}

th,
td {
    padding: 4px;
    border-width: 1px;
    border-style: inset;
    border-color: rgb(150, 196, 196);
}

td {
    text-align: center;
}

.timeam {
    background-color:rgb(230, 248, 201);
}

.timepm {
    background-color: rgb(174, 250, 190);
}

.timep{
    background-color: rgb(183, 150, 196);
}

.day {
    text-align: left;
} 