.wrap {
    background-color: aqua;
    width: 1200px;
    height: 900px;
    border: 2px solid red;
  }
  .image1 {
    float: left;
    margin: 15px;
    height: 250px;
  }
  .phase1 {
    overflow: auto;
  }
  .image2 {
    float: right;
    margin-right: 20px;
    250px
  }
  .text1 {
    margin-right: 80px;
    font-size: 20px;
  }
  .text2 {
    margin-right: 80px;
    margin-left: 15px;
    font-size: 20px;
  }
  .phase2 {
    overflow: auto;
  }
  .phase3 {
    overflow: auto;
  }