#body {
  background-color: aqua;
  overflow: scroll;
  padding: 50px;
}
#p2 {
  overflow: hidden;
  padding: 5px;
  margin: 20px;
  width: 500px;
}
#p {
  overflow: hidden;
  padding: 5px;
  margin: 20px;
  padding-left: 400px;
  width: 500px;
}

.div_cls1 {
  height: 160px;
  width: 160px;
  border: 1px solid black;
  background-color: darkcyan;
  overflow: hidden;
  float: left;
  clear: right;
}
.div_cls2 {
  height: 160px;
  width: 160px;
  border: 1px solid black;
  background-color: darkcyan;
  overflow: hidden;
  clear: left;
  float: right;
}

.cls_wrapper1 {
  overflow: auto;
  padding: 5px;
  text-align: right;
}

.cls_wrapper2 {
  overflow: auto;
  padding: 5px;
  text-align: left;
}
