* {
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    background: url(img/9.jpg) no-repeat center fixed;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 15px;
    width: 60%;
}

h1 {
    background-color: rgb(172, 168, 163);
    opacity: 80%;
    margin-bottom: 80px;
    padding: 5px;
}

h2 {
    text-align: right;
    color: rgb(231, 109, 109);
    background-color: rgb(10, 10, 9);
    margin-left: 560px;
    opacity: 90%;
    font-family:serif;
}

#para1 {
    border: 2px solid white;
    background-color: rgb(119, 104, 94);
    opacity: 80%;
    font-size: 20px;
    font-family:serif;
}

.links {
    text-decoration: none;
    border: 2px solid rgb(179, 174, 174);
    background-color: rgb(119, 104, 94);
    opacity: 80%;
    font-size: 20px;
    font-family:serif;
}
