body {
    background-color: rgb(106,181,238);
    background-image: linear-gradient(180deg, rgba(106,181,238,1) 0%, rgba(117,139,249,1) 49%, rgba(104,230,245,1) 82%);
}

body > h1 {
    text-align: center;
    background: -webkit-linear-gradient(270deg,rgb(1, 129, 248)40%, rgb(0, 255, 255) 75%, rgb(0, 255, 106) 10%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo__gallery {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

img {
    border: 2px solid rgb(241, 89, 89);
    border-radius: 5px 15px;
    object-fit: fill;
    width: 200px;
    height: 300px;
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.59);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(155, 5, 255, 0.59);
}