table {
    border: 8px solid rgb(80, 75, 75);
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    margin: auto;
}

td, th, tr {
    border: 2px solid;
    padding: 20px;
}

caption {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
}