body{
    background-color: cornflowerblue;
    margin: 50px;
}
.first>p>img{
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 80px;
}
.first>p{
    float: right;
}
.second>p>img{
    float: right;
    margin-left: 80px;
    height: 200px;
    width: 200px;
}
.second>p{
    float: left;
}