body{
    margin: 100px;
}
a{
    text-decoration: none;
    color: silver;
}
.headerBox{
    border: 1px solid #000;
    width: 790px;
    padding: 5px;
}
.headerBox h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-content{
    float: right;
    margin-right: 5px;
    font-style: italic;
}
.mau{
    margin-top: 110px;
}
.hero{
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80);
    width: 800px;
    border: 1px solid #000;
    height: 480px;
}
.about{
    width: 770px;
    margin-top: 30px;
    margin-left: -15px;
    box-shadow: 1px 2px #000;
    background-color: chocolate;
    padding: 10px;
}
.me{
    position: relative;
    top: 20px;
}
.MoreAbout{
    position: relative;
    bottom: -108px;
}
.about ul{
    list-style-image: url(sqpurple.gif);
    
}